* {
       box-sizing: border-box;
}
body {
	background-color: #aaa;
	margin: 0px 50px 50px;
}
.item {
/* Center the contents of the grid items. Making each grid item a Flex Container */
	display: flex;
/* Horizontal and Vertical centering */
	justify-content: center;
	align-items: center;
	border: 5px solid #87b5ff;
	border-radius: 3px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #1c57b5;
	padding: 0 50px;

}
.container {
	display: grid;
	grid-template-columns: 3fr 5fr 3fr;
	grid-template-rows: auto auto auto;
	grid-gap: 1rem;
	grid-template-areas: "top top top"
	"left center right"
	"bottom bottom bottom";
	text-align: -webkit-left;
}
.box {
	background-color: #f06923;

}
/*.box:nth-child(even) {
	background-color: #34a6db;
}*/
.header {
	grid-area: top;
}
.content {
	grid-area: center;
}
.articles {
	grid-area: right;
}
.footer {
	grid-area: bottom;
}
.ads {
	grid-area: left;
}