* {
       box-sizing: border-box;
}
body {
	background-color: #aaa;
	
}
a {
	color: #000;
}
.container {
    max-width: 100%;
    width: 90%;
    display: grid;
    grid-gap: 1rem;
}
.card {
    font-size: 17.5px;
    background-color: transparent;
}
.divMenu {
    width: -webkit-fill-available;
    background-color: #0F1703;
}
.linkMenu {
	color: #FAF7FD;
}
.header {
	background-color: #dcd4d4;
}
.item {

/* Center the contents of the grid items. Making each grid item a Flex Container */
	display: flex;
/* Horizontal and Vertical centering */
	justify-content: center;
	align-items: center;
	border: 10px solid #aaa;
	border-radius: 3px;
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	background-color: #1c57b5;
	padding: 0 50px;
    margin: 0px; /*margem elementos da pagina*/
}
#panda {
	margin: 10px 0px;
}
#imgPanda {
	margin: 11px;
	width: auto;
}
img {
	width: 100%;
}
.ulMenu {
	list-style: none;
	display: flex;
}
.liItem {
	margin-right: 30px;
}
.itemMenu {
	margin: 30px 0px;
}
article {
	padding: 10px 0;
}